.contact__data{
 display: flex;
 text-align: center;
 align-items: center;
 flex-direction: column;
}

.contact.section {
  display: flex;
  height: 50px;
  flex-direction: column;
}
h2.section__title {
  height: 20px;
}

div.contact__data {
  display: flex;
  background-color: transparent;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  margin-bottom: 30px;
}

.contact__container {
  display: flex;
  text-align: center;
  align-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.contact__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact__description {
  font-size: 14px;
  line-height: 1.6;
}

.contact__info .info__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.contact__info .info__icon {
  display: flex;
  margin-top: 20px;
  color: var(--text-color);
  font-size: 20px;
  /* Ajusta las medidas según tus necesidades */
}

.contact__info .info__title {
  font-size: 14px;
}

.contact__info .info__desc {
  font-size: 14px;
  font-weight: bold;
}

.contact__social {
  display: flex;
  column-gap: 16px;
  margin-top: 10px;
}

.contact__social-link {
  background-color: #f0f0f0;
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease;
}

.contact__social-link:hover {
  background-color: #000;
  color: #fff;
}
/* .form__input-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.form__input-div {
  margin-bottom: 30px;
}

.form__controll {
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--title-color);
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: var(--small-font-size);
  transition: all 0.3s ease;
}

.form__controll:focus {
  border-color: var(--first-color);
}

.textarea {
  resize: none;
  height: 160px;
} */

.contact__button-icon {
  font-size: var(--h3-font-size);
  line-height: 64px;
} 
